body{margin:0;}
#topbar{z-index:102;position:absolute;top:0;left:0;width:100%;height:28px;background:#535353;border-bottom:1px solid #282828;}
#topbar .logo{position: absolute;left:0;top:0;}
#topbar .menu{padding-left:134px;height:100%;}
#topbar .menu>li{position:relative;float:left;line-height:18px;margin:5px 0;padding:0px 12px;font-size:12px;border-radius:2px;border:1px solid #535353;}
#topbar .menu>li:hover{background:rgba(255,255,255,0.15);border:1px solid #333;}
#topbar .menu>li.active{background:rgba(0,0,0,0.15);border:1px solid #333;}
#topbar .menu>li .open{display:none;position:absolute;top:18px;left:0;background:#f0f0f0;border:1px solid #a0a0a0;z-index:10;}
#topbar .menu>li .open .top_menu{margin:1px 4px;padding:2px 20px;min-width:100px; color:#000;font-size:12px;white-space: nowrap;}
#topbar .menu>li .open .top_menu:hover{background:#3399ff;color:#fff;}
#topbar .menu>li .open .border{height:1px;background:#a0a0a0;border-bottom:1px solid #fff;margin:0 4px;}


.contents tr{float:left;width:300px;margin-right:20px;}
#editor .contents #text{
    position: absolute;
    top:0;
    left:0;
    display:none;
    border:1px dashed #fff;

}
#editor .contents #text .text{
    width:100%;
    height:100%;
    background: none;
    outline:none;
    border:none;
    color:inherit;
    font:inherit;
}
#editor .contents #text .setting{
    position: absolute;
    bottom:-160px;
    width:200px;
    height:110px;
    background: #232424;
    padding:20px;
    overflow:hidden;
    font-size:12px;
    border-radius:2px;
    box-shadow: 0 0 2px black, 0 0 1px black;
}
#editor .contents #text .setting .row{
    overflow:hidden;
    padding:8px 0;
}
#editor .contents #text .setting .btn{
    float:left;
    height:30px;
    line-height:30px;
    background:#191818;
    color:#fff;
    width:80px;
    margin-right:4px;
    text-align:center;
    border:1px solid #101010;
}
#editor .contents #text .setting .btn:hover{
    background:#232324;
}
#editor .contents #text .setting .left{
    float:left;
    width:70px;
}
#editor .contents #text .setting .right{
    float:left;
}
#editor .contents #text .num{
    width:60px;
    text-align:right;
}
#editor .contents #text select{
    width:60px;
}
#editor .contents #brush {
    position: absolute;
    left: 0;
    top: 0;
}


#colorSelector{
    position: relative;
    width: 34px;
    height: 34px;
    background: url(colorpicker/images/select.png);
}
#colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(colorpicker/images/select.png) center;
}

#sidebar {
    z-index: 101;
    background:#535353;
    position: absolute;
    left: 0;
    top: 29px;
    right: 0;
    height: 32px;
    border-top:1px solid #6a6a6a;
    border-bottom:1px solid #282828;
}

#sidebar .header{
    display:none;
}

#sidebar .item{
    display:none;
}
#toolbar .button {
	display:none;
    float: left;
    line-height: 27px;
    margin: 7px 0 0 7px;
}



#tools{position:absolute;left:0; width:37px; height:100%;z-index:100;background:#535353;border-right:1px solid #282828;}
#tools .top{margin-top:63px;}
#tools .tool{margin:7px 1.5px;overflow:hidden;border:1px solid #535353;}
#tools .tool>img{display:block;}
#tools .tool:hover{background:#fff;border:1px solid #333;}
#tools .tool:hover img{opacity:0.9;}
#tools .color:hover{background:none;border:1px solid #535353;}
#tools .color:hover img{opacity:1.0;}
#tools .tool.active{background:#000;border:1px solid #333;}
#tools .tool.active img{opacity:0.9;}

#editor .contents #selects {
    position: absolute;
    left: 0;
    top: 0;
}

#editor .contents #selects #rect {
    position: absolute;
    display:none;
}
#editor .contents #selects #rect .rb_b{
    position: absolute;
    width:100%;
    height:100%;
    border:1px dashed #000;
}

#editor .contents #selects #rect .rb_w{
    position: absolute;
    width:100%;
    height:100%;
    border:1px solid #fff;
}